header {
	background-color: #274472;
	padding: 1rem;
}

.first-layer,
.business-buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

.city-buttons {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
