<<<<<<< HEAD
.info-card-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin:20px;
  flex-wrap: wrap;
  flex-direction: row;
}
=======
/* .info-card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
} */
>>>>>>> 2d765fefa1f15464f7926e688a5378c96d20e530
